body{
    background: 
      linear-gradient(45deg, hsl(57, 89%, 57%), #fad0c4),
      linear-gradient(135deg, #894909, #f1ea2b);
    background-blend-mode: multiply;
    height: 100vh;
}
#header{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-top: 20px;
    background-color: burlywood;
    padding: 50px;
}
#nav{
    
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        li{
            float: left;
            a{
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                &:hover{
                    background-color: #111;
                }
            }
        }
    }
    h2{
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(128, 5, 5);
        text-shadow: 2px 2px 4px #000000;
        margin-top: 20px;
        background-color: rgb(222, 215, 135);
        border-radius: 15px;
        padding: 20px;
    }
}