#header{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    margin-top: 20px;
    background-color: burlywood;
    padding: 50px;
}
#notice{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
    margin-top: 20px;
    background-color: yellow;
    padding: 10px;
}
#nav{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    margin-top: 20px;
    background-color: lightgray;
    padding: 10px;
    border-radius: 15px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        &:hover{
            color: blue;
        }
    }
    h2{
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(128, 5, 5);
        margin-top: 20px;
        border-radius: 15px;
        padding: 20px;
    }

}
#homenav {
    text-align: center;
    gap: 15px;
}
#footer {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    margin-top: 20px;
    padding: 10px;
}