body {
  font-family: Arial, sans-serif;
  justify-content: center;
  margin-top: 50px;
    display:  flex;
}
.calculator {

  width: 320px;
  background: #444040;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  text-align: center;
}
input {
  width: 300px;
  height: 40px;
  font-size: 20px;
  margin-bottom: 15px;
  text-align: right;
}
button {
  width: 100px;
  height: 40px;
  font-size: 18px;
  margin: 5px;
  cursor: pointer;
  background-color: blanchedalmond;
}
.wide {
  width: 126px;
}
button:hover {
  background-color: #ddd;
}
